.keyFigureWrapper {
    background-color: #FBFBFB;
    border-radius: 5px;
    display: flex;
    padding: 32px;
    margin-bottom: 39px;
    max-width: 258px;
    width: 100%;
}

.keyFigureWrapper:last-child {
    margin-bottom: 0;
}

.keyFigureLogoContainer {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.calorieLogo {
    background-color: rgba(255, 0, 0, 0.2);
}

.proteinesLogo {
    background-color: rgba(77, 184, 255, 0.2);
}

.glucideLogo {
    background-color: rgba(253, 205, 13, 0.2);
}

.lipideLogo {
    background-color: rgba(253, 78, 128, 0.2);
}

.countAndTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.count {
    color: #282D30;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.subtitle {
    color: #74798C;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    padding: 0;
}